
.c-hero{
    @apply bg-fundo bg-no-repeat bg-bottom w-full relative;
 
    &:before{
        @apply content-[''] absolute top-0 left-0 h-[70%] w-full bg-bottom bg-no-repeat;
        background-image: url('/src/image/site/fundo.svg');
        background-size: cover;
    }

    .c-figure{
        @apply w-1/2 relative;

        // &:before{
        //     @apply content-[''] absolute -bottom-12 -left-16 h-full w-full rotate-[45deg];
        //     background-image: radial-gradient(rgb(0, 217, 255), rgba(255, 255, 255, 0) 60%);
        //     transform: skew(-42deg, 10deg);
        // }

        img{
            @apply relative;

        }
      
    }
    .icon-html{
        @apply  absolute top-4 left-[45%] h-24 w-24 2xl:h-28 2xl:w-28 ;
        filter: drop-shadow(5px 7px 0px rgb(15, 200, 247, 0.7));
        animation: drop-shadow 6s ease-in-out infinite ;
        transition: all .3s ease-in-out;
        animation-delay: 0.8s;
    }
    .icon-css{
        @apply  absolute top-[15%] left-[20%] h-24 w-24 2xl:h-28 2xl:w-28;
        filter: drop-shadow(5px 7px 0px rgb(15, 200, 247, 0.7));
        animation: drop-shadow 6s ease-in-out infinite ;
        transition: all .3s ease-in-out;
        animation-delay: 0.7s;
    }

    .icon-sass{
        @apply  absolute top-[34%] left-[40%] h-24 w-24 2xl:h-28 2xl:w-28;
        filter: drop-shadow(5px 7px 0px rgb(15, 200, 247, 0.7));
        animation: drop-shadow 4s ease-in-out infinite ;
        transition: all .2s ease-in-out;
        animation-delay: 0.6s;
    }

    .icon-vue{
        @apply  absolute top-[48%] right-[24%] h-24 w-20 2xl:h-28 2xl:w-24;
        filter: drop-shadow(5px 7px 0px rgb(15, 200, 247, 0.7));
        animation: drop-shadow 4s ease-in-out infinite ;
        transition: all .3s ease-in-out;
        animation-delay: 0.7s;
    }

    .icon-bootstrap{
        @apply  absolute top-[30%] right-[5%] h-24 w-16 2xl:h-28 2xl:w-20;
        filter: drop-shadow(5px 7px 0px rgb(15, 200, 247, 0.7));
        animation: drop-shadow 4s ease-in-out infinite ;
        transition: all .3s ease-in-out;
        animation-delay: 0.5s;
    }

    .icon-javascript{
        @apply  absolute top-[10%] right-[17%] h-24 w-16 2xl:h-28 2xl:w-20;
        filter: drop-shadow(5px 7px 0px rgb(15, 200, 247, 0.7));
        animation: drop-shadow 4s ease-in-out infinite ;
        transition: all .3s ease-in-out;
        animation-delay: 0.8s;
    }
}

@keyframes drop-shadow{
    0% {
        transform: perspective(800px) translateY(0px) scale(1.1);
        opacity: 1;

    }
    50% {
        transform: perspective(800px) translateY(40px) scale(0.6);
        opacity: 0;
    }
    100% {
        transform: perspective(800px) translateY(0px) scale(1.1);
        opacity: 1;
    }
   

}