.sobre{

  &__image{
    @apply w-full object-contain;
    filter: contrast(110%)
  }
    &__text {
        @apply max-h-[18rem] overflow-auto pr-4;

        &::-webkit-scrollbar {
            width: 8px;               /* width of the entire scrollbar */
          }
          
          &::-webkit-scrollbar-track {
            border-radius: 20px;
            background-color: rgb(126, 126, 126); 
             border: 2px solid rgb(0, 0, 0);    /* color of the tracking area */
          }
          
          &::-webkit-scrollbar-thumb {
            background-color: rgb(255, 255, 255);    /* color of the scroll thumb */
            border-radius: 20px;       /* roundness of the scroll thumb */
            @appy border-[3px] border-fundo; /* creates padding around scroll thumb */
          }
          p{
            @apply pb-6;
          }
    }

    .link-social{
      &__icon{
        // @appy w-8 h-8 object-contain  fill-white bg-red;
        fill: white;
      }

      &:hover{
        &__icon{
        fill: purple;
      }
      }
    }
}