body{
  font-family: 'Montserrat', sans-serif;
}

.font-title{
  font-family: 'Paytone One', sans-serif;
}

.c-card{
    &__icon{
        display: flex;
        justify-content: center;
        align-items: center;
      figure{
        width: 95px;
        height: 95px;
        margin-bottom: -50px;
      }
    }

    &__linha{
      display: block;
      margin-top: 1rem;
      width: 100%;
      height: 5px;
      border-radius: 10px;

    
 
    }

    

   


}

.owl-item{
  &:nth-child(3n + 1){
    .c-card__linha{
      background-image: linear-gradient(to right, #F9E400  , #EB0572 );
    }

    .title-ano{

      background: linear-gradient(to right, #F9E400 30%, #EB0572 , #EB0572 );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  
  }

  &:nth-child(3n + 2){
    .c-card__linha{
      background-image: linear-gradient(to right, #EB0572  , #CD1BF7 );
    }

    .title-ano{

      background: linear-gradient(to right, #EB0572 30%, #CD1BF7 , #CD1BF7 );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  
  }

  &:nth-child(3n){
    .c-card__linha{
      background-image: linear-gradient(to right, #CD1BF7  ,  #00C0F1);
    }

    .title-ano{

      background: linear-gradient(to right, #CD1BF7 30%, #00C0F1 , #00C0F1 );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  
  }
}
