body{
  font-family: 'Montserrat', sans-serif;
}

.font-title{
  font-family: 'Paytone One', sans-serif;
}




.hobis{
  background-image: linear-gradient(to right bottom, #0E0E1A 30%,  #650B7A );
}




